<div id="template" class="container pt-5">
  <div id="customer">
	  <!-- Create Customer -->
	  <div id="create-customer" class="col-12 col-md-6 offset-md-3">
	    <div class="template_header">
	      <h2 class="title text-center">Create Account</h2>
	    </div>

	    {% form 'create_customer', class: 'styled' %}
	      {{ form.errors | default_errors }}

	      <div class="clearfix large_form relative">
	        <label for="first_name" class="login">*</label>
	        <input type="text" placeholder="First Name" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form relative">
	        <label for="last_name" class="login">*</label>
	        <input type="text" placeholder="Last Name" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form relative">
	        <label for="email" class="login">*</label>
	        <input type="email" placeholder="Email Address" value="" name="customer[email]" id="email" class="large" size="30" />
	      </div>

	      <div class="clearfix large_form relative">
	        <label for="password" class="login">*</label>
	        <input type="password" placeholder="Password" value="" name="customer[password]" id="password" class="large password" size="30" />
	      </div>

	      <div class="action_bottom text-center">
	        <button class="btn" type="submit">Create</button>
	        <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>
	      </div>
	    {% endform %}
	  </div><!-- /#create-customer -->
  </div>
</div>
